.container {
  width: 50%;
  height: auto;
  margin: 2% auto;
  padding: 30px;
  border-radius: 12px;
  background-color: var(--cinza-medio);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.title {
  color: var(--verde-principal);
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.input:focus, .select:focus {
  outline: none;
  border-color: var(--verde-principal);
}

.inputContainer {
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  color: var(--cinza-escuro);
}

.input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 18px;
  box-sizing: border-box;
  background-color: #fff;
  transition: border-color 0.3s ease;
}

.input:focus {
  border-color: var(--verde-principal);
  outline: none;
}

.select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 18px;
  background-color: #fff;
  transition: border-color 0.3s ease;
}

.calculateButton {
  width: 100%;
  padding: 15px;
  background-color: var(--verde-principal);
  color: white;
  font-size: 18px;
  border: none;
  font-weight: 700;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.7s ease;
}

.calculateButton:hover {
  background-color: #0ec66ab4;
}

.result {
  padding: 20px;
  border-radius: 12px;
  background-color: var(--offwhite);
  color: var(--cinza-escuro);
  margin-top: 30px;
  text-align: center;
  font-size: 18px;
  box-sizing: border-box;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.resultTitle {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
  border-radius: 10px;
}

.resultText {
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.6;

}

.economia, .tempo, .painel {
  margin-bottom: 10px;
  font-size: 18px;
}

.nota {
  padding: 15px;
  border-radius: 12px;
  font-weight: 700;
  margin-top: 20px;
  font-size: 18px;
  box-sizing: border-box;
}

/* Mobile */
@media (max-width: 600px) {
  .container {
    width: 90%; 
    padding: 20px; 
  }

  .title {
    font-size: 22px; 
  }

  .input {
    font-size: 16px; 
    padding: 10px; 
  }

  .calculateButton {
    font-size: 16px; 
    padding: 12px; 
  }

  .result {
    font-size: 16px; 
    padding: 15px; 
  }

  .resultTitle {
    font-size: 20px; 
  }

  .nota {
    font-size: 16px; 
    padding: 12px; 
  }

  .resultText {
    font-size: 16px; 
  }
}

/* Tablet */
@media (max-width: 768px) {
  .container {
    width: 80%; 
  }

  .title {
    font-size: 26px; 
  }

  .input {
    font-size: 17px; 
  }

  .calculateButton {
    font-size: 17px; 
  }

  .result {
    font-size: 17px; 
  }

  .resultTitle {
    font-size: 22px; 
  }

  .nota {
    font-size: 17px; 
    padding: 14px; 
  }

  .resultText {
    font-size: 17px; 
  }
}
