.Hero{
    display: flex;
    
}

.hero__img{
    width: 100%;
    height: auto;
}

.Hero__conteudo{
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-left: 90px;
    margin-top: 40px;
}

.Hero__conteudo h1{
    color: var(--azul-texto);
    font-size: 44px;
    font-weight: bold;
}

.Hero__conteudo p{
    color: var(--cinza-texto);
    font-size: 22px;
    font-weight: 300;
}

.Hero__botao{
    text-decoration: none;
    color: var(--branco);
    font-size: 22px;
    font-weight: 600;
    border: 4px solid ;
    padding: 3% 5%;
    width: 50%;
    border-radius: 10px;
    text-align: center;
    background-color: var(--verde-principal);
    transition: all 0.3s ease;
}

.Hero__botao:hover {
    background-color: var(--branco); 
    color: var(--verde-principal); 
}

/* Estilo para telas maiores */
@media (min-width: 1024px) {
    .Hero__botao {
        font-size: 24px; 
        padding: 3% 3%; 
        width: 50%; 
    }
}


@media (max-width: 768px) {
    .Hero__botao {
        font-size: 1rem; 
        padding: 0.8rem 1.5rem; 
    }
}

@media (max-width: 480px) {
    .Hero__botao {
        font-size: 0.9rem; 
        padding: 0.6rem 1rem; 
    }
}