/* Header.module.css */

/* Suavizando a rolagem para links âncoras */


/* Header container */
.Header {
    width: 100%;
    height: 8.75rem;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 11px;
    border-bottom: 5px solid var(--verde-principal);
    display: flex;
    align-items: center;
    animation: fadeInHeader 1s ease-out;
}

/* Animação para o Header */
@keyframes fadeInHeader {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Links do header com animação de fade-in */
.Header__links {
    padding-left: 18rem;
    font-weight: 500;
    font-size: 1.25rem;
    gap: 1.375rem;
    display: flex;
    animation: fadeInLinks 1s ease-out;
}

/* Animação de fade-in para os links */
@keyframes fadeInLinks {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.Header__links a {
    text-decoration: none;
    color: var(--azul-texto);
    transition: all 0.7s ease;
}

.Header__Login_Registro {
    display: flex;
    padding-left: 3rem;
    gap: 1.5rem;
    font-weight: 600;
    font-size: 24px;
    animation: fadeInLoginRegister 1s ease-out;
}

/* Animação de fade-in para a seção de login/registro */
@keyframes fadeInLoginRegister {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.Header__Login_Registro a {
    text-decoration: none;
}

.Header__links a:hover {
    color: var(--verde-principal);
}

.Header__Entrar {
    color: var(--verde-principal);
    background-color: var(--branco);
    border: 4px solid var(--verde-principal);
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 600;
    font-size: 24px;
    display: inline-block;
    transition: all 0.3s ease;
}

.Header__Entrar:hover {
    background-color: var(--verde-principal);
    color: var(--branco);
}

.Header__Registro {
    color: var(--branco);
    background-color: var(--verde-principal);
    border: 4px solid var(--verde-principal);
    padding: 10px 30px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 600;
    font-size: 24px;
    display: inline-block;
    transition: all 0.3s ease;
}

.Header__Registro:hover {
    background-color: var(--branco);
    color: var(--verde-principal);
}
