.Destaque{
    display: flex;
}
.Destaque__conteudo{
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 6rem;
}

.Destaque__conteudo h1{
    color: var(--azul-texto);
    font-size: 50px;
    font-weight: bold;
}

.Destaque__conteudo p{
    color: var(--cinza-texto);
    font-size: 26px;
    font-weight: 300;
}

.Destaque__botao{
    text-decoration: none;
    color: var(--branco);
    font-size: 32px;
    font-weight: 600;
    border: 4px solid ;
    padding: 2% 1%;
    width: 45%;
    border-radius: 10px;
    text-align: center;
    background-color: var(--verde-principal);
    transition: all 0.3s ease;
}

.Destaque__botao:hover {
    background-color: var(--branco); 
    color: var(--verde-principal); 
}

@media (max-width: 1024px) {
    .Destaque {
        flex-direction: column;
        text-align: center; 
        padding: 2rem 5%;
    }

    .Destaque__conteudo {
        margin-top: 3rem;
        gap: 24px;
    }

    .Destaque__conteudo h1 {
        font-size: 40px; 
    }

    .Destaque__conteudo p {
        font-size: 22px; 
    }

    .Destaque__botao {
        font-size: 28px; 
        padding: 3% 2%; 
        width: 60%;
    }
}


@media (max-width: 768px) {
    .Destaque {
        flex-direction: column;
        text-align: center; 
        padding: 2rem 3%;
    }

    .Destaque__conteudo {
        margin-top: 2rem;
        gap: 20px;
    }

    .Destaque__conteudo h1 {
        font-size: 32px; 
    }

    .Destaque__conteudo p {
        font-size: 18px; 
    }

    .Destaque__botao {
        font-size: 24px; 
        padding: 4% 2%; 
        width: 80%;
    }

    .Destaque img {
        display: none;
    }
}

@media (max-width: 480px) {
    .Destaque__conteudo h1 {
        font-size: 28px;
    }

    .Destaque__conteudo p {
        font-size: 16px; 
    }

    .Destaque__botao {
        font-size: 22px; 
        padding: 5% 3%;
        width: 90%;
        margin: 0 auto; 
    }
}